#sim {
  display: grid;
  width: 800px;
  grid-template-columns: 200px 600px;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "header header"
  "sidebar main";
  border: 1px solid #ddd;
  font-family: Arial;
}

.toolbar {
  grid-area: header;
  border-bottom: 1px solid #ddd;
  display: flex;
}

.toolbar-item {
  padding: 3px 10px 1px 6px;
  color: #345;
  font-size: 15px;
}

.sidebar {
  grid-area: sidebar;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.sim-canvas {
  grid-area: main;
}

.info-box {
  font-size: 90%;
  min-height: 4rem;
  margin-top: 1rem;
  color: #345;
}

.info-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 1.4rem;
  padding-top: 2px;
}

.percent-bar {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 1.3rem;
  width: 50%;
  background-color: rgb(180, 220, 255);
}

.info-bar .info-name {
  padding-left: 2px;
}

.neural-net-node {
  fill: #aaa;
  stroke: white;
  stroke-width: 0.8;
}

.neural-net-cxn {
  stroke: black;
  opacity: 0.5;
  stroke-width: 1.5;
}
